@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}



/*  HEADER ==================================== */

header{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

header img{
    width: 60%;
    cursor: pointer;
}


header .header-car{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

header .header-car .header-car-i{
    font-size: 1.5rem;
    position: relative;
}

header .header-car .header-car-info{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

header .header-car .header-car-info span:nth-of-type(1){
    font-size: 0.8rem;
}

header .header-car .header-car-info span:nth-of-type(2){
    font-size: 0.7rem;
    font-weight: bold;
}


header .header-about{
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 800;
    /* position: absolute;
    top: 50%;
    left: 170px;
    transform: translateY(-50%); */
}




.about-home{
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-home span{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 800;
}
/*  HEADER CAR ==================================== */

.car-qtn{
    width: 15px;
    height: 15px;
    font-size: 0.6rem;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 0px;
    right: -5px;
    border-radius: 100%;
    font-weight: bold;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  HEADER CAR ==================================== */

/*  HEADER LINK ==================================== */
a{
    outline: none;
    text-decoration: none;
    color: white;
}

a:visited{
    outline: none;
    color: white;
    text-decoration: none;
}
/*  HEADER LINK ==================================== */

/*  HEADER ==================================== */




/*  MODAL FADE ==================================== */

body:has(.modal.modal-active) {
    overflow: hidden;
}
.modal{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-overlay{
  
    background-color: rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 100%;
}

.modal.modal-active{
    display: flex;
}






/*  PRODUCT ==================================== */


.car-products{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    right: -100%;
    animation: slide 0.2s forwards;
    overflow: auto;
}

@keyframes slide {
    0% {
        right: -100%;

    }

    100%{
        right: 0px;
    }
}


.product-header{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
    height: 50px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white;
    top:0;
    padding: 0px 10px;
}

.product-header .product-info-qtn{
    display: flex;
    gap: 15px;
    
}

.product-header .product-info-qtn span:nth-of-type(1){
    font-weight: bold;
    font-size: 1rem;
}


.product-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 5px;
    overflow: auto;
}


.product-items .product-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    font-family: 'Poppins';
    gap: 10px;
}

.product-items .product-item .product-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 89, 89, 0.533);
    padding: 0px 5px;
    border-radius: 5px;
    height: 30px;
}

.product-item .product-item-img{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-item .product-item-img img{
    width: 100%;
    border-radius: 4px;
}

.product-item .product-item-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-item .product-item-title{
    font-size: 1rem;
    font-weight: bold;
}


.product-item .product-item-price{
    display: flex;
    gap: 10px;

}


.product-item .product-item-amount{
    display: flex;
    border: 1px solid rgba(202, 202, 202, 0.56);
    width: 100px;
    height: 30px;
}
.product-item .product-item-amount div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    
}
.product-item .product-item-amount div:nth-of-type(1){
    flex: 1;
    cursor: pointer;
}
.product-item .product-item-amount div:nth-of-type(2){
    border-left: 1px solid rgba(202, 202, 202, 0.56);
    border-right: 1px solid rgba(202, 202, 202, 0.56);
    flex: 2;
}
.product-item .product-item-amount div:nth-of-type(3){
    flex: 1;
    cursor: pointer;
}

.product-item .product-item-totalprice{
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}



.product-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    padding: 10px;
    position: sticky;
    bottom: 0px;
    
}

.product-footer .product-totalprice{
    display: flex;
    gap: 10px;
}


.product-footer .product-totalprice span:nth-of-type(2){
    font-size: 0.9rem;
    font-weight: bold;
}

.product-button{
    display: flex;
    justify-content: end;
    width: 100%;
    cursor: pointer;
}

.product-button div{
    padding: 10px;
    background-color: black;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}





/*  PRODUCT ==================================== */





/*  MODAL FADE ==================================== */





/*  HOME CONTAINER ==================================== */

.home-container{
    display: flex;
    
}

/*  HOME CONTAINER ==================================== */


.carousel {
    position: relative;
    width: 100%;
 
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    min-height: 350px;
    
}

.carousel-item img {
    width: 100vw;
    height: 100%;  /* Preenche a altura do contêiner */
    object-fit: cover;     /* Faz o "clipping" para que a imagem ocupe todo o espaço */
    object-position: center; /* Centraliza a imagem */
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}














/** ======== FEEDBACK CONFIG ==============*/

.feedback{
    width: 100%;
    display: flex;
    font-family: 'Poppins';
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: rgb(4, 103, 80);
    padding: 50px 20px;
    color: white;

}

.feedback > p{
    font-size: 1.9rem;
    font-weight: 600;
    text-align: left;
}

.feedback .feed-flex{
    display: flex;
    margin: 0px 50px;
    gap: 5px;
    justify-content: space-between;
    
}

.feedback .feed{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0,0,0, 0.3);
}

.feedback .feed span{
    font-size: 1rem;
    
}


/** ======== FEEDBACK CONFIG ==============*/






/** ======== FOOTER CONFIG ==============*/


.footer{
    width: 100%;
    
    font-family: 'Poppins';
    justify-content: space-between;
    display: flex;
    padding: 20px;
    background-color: rgb(4, 103, 80);
    color: white;
    align-items: center;
    flex-wrap: wrap;
}


.footer div{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}





/** ======== FOOTER CONFIG ==============*/




/** ======== HR CONFIG ==============*/

.hr{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0px;

}

.hr div{
    width: 8.33333%;
    height: 1px;
    background-color: gray;
}

/** ======== HR CONFIG ==============*/




/** ======== PRODUTOS CONFIG ==============*/

.produtos{
    max-width: 1900px;
    height: 100%;
    
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header-produtos{
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Poppins';
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background:linear-gradient(120deg, rgb(16 161 50) 14%, rgb(29 160 197) 100%);
}

.produtos .card {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 5px;
    width: 300px;
}

.produtos .card-img {
    cursor: pointer;
    
}

.produtos .card-img img{
    width: 100%;
    border-radius: 10%;
    
}

.produtos .card .card-name{
    
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

}

.produtos .card .card-value{
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
}

.produtos .card .card-value span:nth-of-type(2) {

    font-weight: 800;
    
}

.produtos .card .buy-btn{
    width: 100px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

/** ======== PRODUTOS CONFIG ==============*/






/** ======== LOADER CONFIG ==============*/

.loader {
    border: 8px solid #f3f3f3; /* Cor de fundo */
    border-top: 8px solid #3498db; /* Cor da borda do círculo */
    border-radius: 50%;
    width: 50px; /* Largura do círculo */
    height: 50px; /* Altura do círculo */
    animation: spin 1s linear infinite; /* Animação de rotação */
    position: fixed;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

}

/** ======== LOADER CONFIG ==============*/






/** FOOTER SOCIAL ABOUT =====================================*/

.footer-social{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    align-items: center;
    
}

.footer-line{
    width: 100%;
    background-color: black;
    height: 2px;
}

.footer-social .social{
    display: flex;
    gap: 50px;
    position: absolute;
    background-color: white;
    padding: 10px 20px;

}

.footer-social .social a i{
    font-size: 2rem;
}

/** FOOTER SOCIAL ABOUT =====================================*/



/** SERVICER SOCIAL ABOUT =====================================*/

.service-banner{
    display: flex;
    gap: 20px;
    color: black;
    padding: 20px;
}

.item .item-content{
    font-family: 'Poppins';
    color: black;
}
/** SERVICER SOCIAL ABOUT =====================================*/









/** ======== PRODUCT PAGE CONFIG ==============*/



/** ======== PRODUCT PAGE CONFIG ==============*/


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/** ======== MEDIA SCREEN CONFIG ==============*/

@media screen and (max-width: 900px) {

   
 
 
     /* .produtos{
         flex-direction: column;
         overflow-x: hidden; /* Permite rolagem horizontal */
         
     
      */
    
 
     .produtos .card {
        
        min-width: 300px;
        
        
     }


     .service-banner{
        flex-direction: column;
     }
 
     
 /* 
 
 
 
 }
 
 
 
 
 @media screen and (max-width: 900px) {
 
     /** ======== FEEDBACK CONFIG ==============*/
 
     
 
 
     .feedback .feed-flex{
         display: flex;
         margin: 0px;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         gap: 30px;
     }
 
     .feedback .feed{
         text-align: center;
         display: flex;
         flex-direction: column;
         gap: 10px;
     }
 
 
     /** ======== FEEDBACK CONFIG ==============*/
  
  }
 
 
 
 
 
 
 @media screen and (max-width: 650px) {
 
     /** ======== HEADER CONFIG ==============*/
  
      
     
     header .header-img img{
         width: 150px;
         
     }
     
      /** ======== HEADER CONFIG ==============*/
  
  }
  
 
 /** ======== MEDIA SCREEN CONFIG ==============*/
 
 