*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}

main{
    gap: 20px;
}

.produto-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
   
}

.produto-content  .prod-cont{
    display: flex;
    width: 1000px;
    flex-direction: row;
    gap: 30px;
}

.produto-imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.produto-imagem img{
    max-width: 500px;
    width: 100%;
    border-radius: 5%;
}


.produto-infos{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;

}


.produto-infos .prod-title{
    width: 100%;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: bold;
}

.produto-infos .prod-prices{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.produto-infos .prod-prices span:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: bold;

}

.produto-infos .prod-prices span:nth-of-type(2){
    font-size: 1.2rem;
    font-weight: bold;

}


.produto-infos .prod-quantity{
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.produto-infos .prod-quantity .prod-qtn{
    display: flex;
    
}

.produto-infos .prod-quantity .prod-qtn span{
    border: 1px solid black;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.produto-infos .prod-quantity .prod-qtn span:nth-of-type(1),
.produto-infos .prod-quantity .prod-qtn span:nth-of-type(3){
    cursor: pointer;
}



.comprar-btn{
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}





/** CALCULAR FRETE ABOUT =====================================*/

.calcular-frete{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.calcular-frete > p:nth-of-type(1){
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 600;

}


.calcular-frete > p:nth-of-type(2){
    font-size: 0.9rem;
    font-family: 'Poppins';
    font-weight: 400;

}

.buybox-shipping-form-group{
    display: flex;
    gap: 10px;
}

.buybox-shipping-input-container{
    flex: 1;
}

.buybox-shipping-input-container input{
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Poppins';
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buybox-shipping-form-group button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}


/** CALCULAR FRETE ABOUT =====================================*/




/** PRODUTO ABOUT =====================================*/
 /* .produto-about{
    
 } */

 .produto-about-title{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins';
    padding: 30px;
    color: white;
    background:linear-gradient(120deg, rgb(16 161 50) 14%, rgb(29 160 197) 100%);
 }


.produto-about-list{
    
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins';
    padding: 20px;
}
    
.produto-about-comp{
    display: flex;
    justify-content: space-around;
}

.prod-about-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-family: 'Poppins';
}
.produto-about-comp .prod-about-comp img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.produto-real-about{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;

}

.produto-subtitle{
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid rgb(184, 183, 183);
    display: block;
}

.produto-subtitle-text{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0px;

    
}


.produto-real-about .produto-subtitle-end{
    display: flex;
    flex-direction: column;

}

.produto-real-about .produto-subtitle-end p{
    margin-bottom: 20px;

}


.produto-selo-amazon img{
    max-width: 300px;
    width: 100%;
}
/** PRODUTO ABOUT =====================================*/



/** FOOTER SOCIAL ABOUT =====================================*/

.footer-social{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    align-items: center;
    
}

.footer-line{
    width: 100%;
    background-color: black;
    height: 2px;
}

.footer-social .social{
    display: flex;
    gap: 50px;
    position: absolute;
    background-color: white;
    padding: 10px 20px;

}

.footer-social .social a i{
    font-size: 2rem;
}

/** FOOTER SOCIAL ABOUT =====================================*/



/** SERVICER SOCIAL ABOUT =====================================*/

.service-banner{
    display: flex;
    gap: 20px;
    color: black;
    padding: 20px;
}

.item .item-content{
    font-family: 'Poppins';
    color: black;
}
/** SERVICER SOCIAL ABOUT =====================================*/






/** MEDIA SCREAN ABOUT =====================================*/

@media screen and (max-width: 800px) {
    .produto-content .prod-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/** MEDIA SCREAN ABOUT =====================================*/